<%- include('../template/head')-%>

<body class="text-center">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<%- include('../template/nav')-%>
		<main role="main" class="inner cover">
			<h1 class="cover-heading"></h1>
			<div class="container container-left">
				<div><%-content-%></div>
			</div>
		</main>
		<%- include('../template/footer')-%>
	</div>
</body>

</html>