<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Powered By <a href="https://developer.ibm.com/edge/documenthub" target="_blank">IBM DocumentHub</a></p>
    </div>
</footer>
